.max-logo{
    max-width: 70px;
    max-height: 70px;
}

.btn-login{
    background-color: rgb(104, 171, 226);
    border-color: rgb(104, 171, 226);
    border-radius: 15px;
}

.btn-login:hover{
    background-color: rgb(49, 110, 160);
    border-color: rgb(49, 110, 160)
}

.navbar-nav{
    padding-top: 15px;
    @include media-breakpoint-down(md)
}

.nav-item{
    padding-left: 20px;
    transition: all 0.2s ease-in-out;

    &:hover{
        transform: scale(1.15);
        text-decoration: none;
    }
}

.nav-link{
    font-weight: bold;
}

.profile-pic{
    max-width: 45px;
    max-height: 45px;
}

.cart-count{
    display: inline-block;
    min-width: 2em;
    padding: 0.3em;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(49, 110, 160);
    margin-left: 10px;
}

.navbar-fixed-top.scrolled{
    background-color: #ffffff !important;
    transition: backgroud-color 20ms linear;
}